<header>
<nav>
  <ul>
  <li><a href="#">Desk 100</a></li>
  <li><a href="#">Menu</a></li>
  <div class = "login">  <li><a href="/login">Login</a></li>
    <li><a href= "#">Logout</a></li>
    <li><a href="/signup">Register</a></li>
  </div>
</ul>
</nav>
<div class = "headerimage">
  <img src="https://www.rappler.com/tachyon/2022/09/Front.JPG.jpg" alt="Olive Garden">
</div>
</header>