<header>
  <nav>
    <ul>
      <li class = "Desk">Desk 100</li>
      <li><a href="/menu">Menu</a></li>
      <div class="login">
        <% if (id) { %>
          <% if (name !== 'Desk100') { %>
            <div class="logged-in-name">Logged in as <%= name %>!</div>
            <li><a href="/orderhistory">Order History</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %>
        
          <% if (name === 'Desk100') { %>
            <div class="logged-in-name">Logged in as Admin <%= name %>!</div>
            <li><a href="/additem">Add to Menu</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %>
        <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Register</a></li>
        <% } %>
      </div>
    </ul>
  </nav>
  <div class="headerimage">
    <img src="https://www.rappler.com/tachyon/2022/09/Front.JPG.jpg" alt="Olive Garden">
  </div>
</header>