<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- <script defer src="/scripts/login.js"></script> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/login.css">

</head>

<body>
  <%- include('partials/_header') %>
    <div class="container">
      <main style="margin: 1em;">
        <h3>Login</h3>
        <form method="POST" action="/login">
          <label for="email">Email: </label>
          <input class="form-control" type="email" name="email" placeholder="example@email.com" style="width: 300px;" />
          <br />
          <label for="">Password: </label>
          <input class="form-control" type="password" name="password" style="width: 300px;" />
          <br />
          <button type="submit" class="login-button">Login</button>
        </form>
      </main>
    </div>
</body>

</html>