<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- load scripts after the rest of the DOM gets loaded -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/menu.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <!-- This section contain individual item -->
      <p>Menus page</p> 
      <section id="items-container"></section>
    </main>
  </body>
</html>