<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- load scripts after the rest of the DOM gets loaded -->
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="/styles/header.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/menu.js"></script>
    <link rel="stylesheet" href="../styles/header.css" />

  </head>

  <body>
    <%- include('partials/_header') %>
    <h2>
      Mains
    </h2>
    <main>
      <!-- This section contain individual item -->
      <section id="items-container"></section>
    </main>
  </body>
</html>