<!DOCTYPE html>
<link rel="stylesheet" href="/styles/header.scss" />

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <main style="margin: 1em;">
    <!-- order.ejs -->
<h3>Order</h3>
<% if (orderItems.length > 0) { %>
  <ul>
    <% orderItems.forEach((item) => { console.log(item) %>
      <li><%= item.name %> - <%= item.price %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>Your order is empty.</p>
<% } %>
    </main>
  </body>
</html>