<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- load scripts after the rest of the DOM gets loaded -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/order.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
      <h3>Order</h3>
      <!-- This section contain individual item -->
      <section id="items-container"></section>

      <button type="submit" class="btn btn-primary">Checkout</button>
      </form>
    </main>
  </body>
</html>