<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order History</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/order-history.js"></script>
  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/order-history.css">

</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
    <h2 >Previous Orders:</h2>
    <ul id="orders"></ul>
  </div>
</body>

</html>