body {
  background-color: #a98467;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

body main {
  display: flex;
  flex: wrap;
  width: 100%;
  justify-content: center;
}
body #items-container {
  display: flex;
  justify-content: center;
  background-color: #dde5b6;
  padding: 30px;
  width: 80%;
  height: 100%;
}
body h2 {
  margin: 30px;
  display: flex;
  justify-content: center;
}
body .item-listing {
  width: 100%;
  margin: 0 0 0 50px;
}
body .item-listing-image {
  width: 15vw;
  height: 12vw;
  border-radius: 15%;
}