// /These colors are used for typography, 
// components, branding, and are solid 
// colors at 100% opacity, unless stated 
// otherwise./
// $font-primary: "AvenirNext LT Pro";

// /* PRIMARY COLORS /

// / primary text color for dark on light background  /
// / dark background color /
$color-dark: #6c584c;

// / secondary text color /
// / inactice CTA text color /
$color-light: #745c49;

// / primary text color for light on dark background /
// / light background color /
// / active CTA text color /
$color-plain: #aec178;

// / SECONDARY COLORS /

// / divider line /
// / form field outline /
$color-light-sec: #6c584c;

// / alternative light background color */
$color-plain-sec: #dde5b681;