@use "./colors" as color;

body {
  background-color: color.$color-light;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  display: flex;
  flex-direction: column;
}

body {
  main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    }
  #items-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:color.$color-plain-sec ;
    width: 75%;
    height: 100%;
  }
  h2{
    margin: 3px;
    display: flex;
    justify-content: center;
    font-family: 'Nova Round', cursive;
    font-size: 40px;
    // background-color: #745c494f;
  }
  h3{
    margin: 3px;
    display: flex;
    justify-content: center;
    font-family: 'Nova Round', cursive;
    font-size: 40px;
    // background-color: #745c494f;
  }
  .item-listing {
    margin: 1em;
    background-color: bisque;
    border-radius:5%;
    padding: 10px;
  

    .item-listing-image {
      display: flex;
      box-shadow: 5px 5px brown;
      border-radius: 15%;
      width: 25%;
      height: 25%;
      object-fit: cover;
      margin-right: 22px;
  }
  .item-listing__details{
    padding: 10px;
    margin-top: 10px;
  
    .item-listing__title{
      font-size: 20px;
    }
    
    .order-button{
      background-color: bisque;
      width: auto;
      margin-top: 20px;
      font-size: 20px;
    }

  }
 
  }
  .item {
    padding-right: 12px;
  }
  .item-outer {
    display: flex;
    align-items: center;
    padding-right: 5px;
    font-size: 20px;
  }
  .item-listing__total{
    display: flex;
    justify-content: right;
    font-size: 25px;
  }
  .item-quantity {
    size: 44px;
  }

  .total {
    margin: auto;
    font-size: x-large;
  }

  .checkout {
    display: flex;
    justify-content: center;
    background: white;
    color: black;
    width: 30%;
    margin: auto;
  }

}

footer {
  padding: 5px 5px;
  display: flex;
  justify-content: right;
  position: fixed;
  right: 0;
  bottom: 0;
  color: black;
}

//Testing the collab branch